policy_module(quartercoin, 1.100.1)

########################################
#
# Declarations
#

type quartercoin_t;
type quartercoin_exec_t;
init_daemon_domain(quartercoin_t, quartercoin_exec_t)

permissive quartercoin_t;

type quartercoin_initrc_exec_t;
init_script_file(quartercoin_initrc_exec_t)

type quartercoin_conf_t;
files_type(quartercoin_conf_t)

type quartercoin_var_lib_t;
files_type(quartercoin_var_lib_t)

type quartercoin_var_run_t;
files_type(quartercoin_var_run_t)

type quartercoin_port_t;
corenet_port(quartercoin_port_t)

########################################
#
# quartercoin local policy
#
allow quartercoin_t self:process { fork };

allow quartercoin_t self:fifo_file rw_fifo_file_perms;
allow quartercoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(quartercoin_t, quartercoin_conf_t, quartercoin_conf_t)
manage_files_pattern(quartercoin_t, quartercoin_conf_t, quartercoin_conf_t)

manage_dirs_pattern(quartercoin_t, quartercoin_var_lib_t, quartercoin_var_lib_t)
manage_files_pattern(quartercoin_t, quartercoin_var_lib_t, quartercoin_var_lib_t)
files_var_lib_filetrans(quartercoin_t, quartercoin_var_lib_t, { dir file })

manage_dirs_pattern(quartercoin_t, quartercoin_var_run_t, quartercoin_var_run_t)
manage_files_pattern(quartercoin_t, quartercoin_var_run_t, quartercoin_var_run_t)

sysnet_dns_name_resolve(quartercoin_t)
corenet_all_recvfrom_unlabeled(quartercoin_t)

allow quartercoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(quartercoin_t)
corenet_tcp_sendrecv_generic_node(quartercoin_t)
corenet_tcp_sendrecv_all_ports(quartercoin_t)
corenet_tcp_bind_generic_node(quartercoin_t)

gen_require(`
    type quartercoin_port_t;
')
allow quartercoin_t quartercoin_port_t:tcp_socket name_bind;

gen_require(`
    type quartercoin_port_t;
')
allow quartercoin_t quartercoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(quartercoin_t)

files_read_etc_files(quartercoin_t)

miscfiles_read_localization(quartercoin_t)

sysnet_dns_name_resolve(quartercoin_t)

allow quartercoin_t quartercoin_exec_t:file execute_no_trans;
allow quartercoin_t self:process setsched;
corecmd_exec_ls(quartercoin_t)
corenet_tcp_connect_http_port(quartercoin_t)
dev_read_urand(quartercoin_t)
fs_getattr_xattr_fs(quartercoin_t)
kernel_read_system_state(quartercoin_t)
