
## <summary>policy for quartercoin</summary>


########################################
## <summary>
##	Transition to quartercoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`quartercoin_domtrans',`
	gen_require(`
		type quartercoin_t, quartercoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, quartercoin_exec_t, quartercoin_t)
')


########################################
## <summary>
##	Execute quartercoin server in the quartercoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`quartercoin_initrc_domtrans',`
	gen_require(`
		type quartercoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, quartercoin_initrc_exec_t)
')


########################################
## <summary>
##	Search quartercoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`quartercoin_search_lib',`
	gen_require(`
		type quartercoin_var_lib_t;
	')

	allow $1 quartercoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read quartercoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`quartercoin_read_lib_files',`
	gen_require(`
		type quartercoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, quartercoin_var_lib_t, quartercoin_var_lib_t)
')

########################################
## <summary>
##	Manage quartercoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`quartercoin_manage_lib_files',`
	gen_require(`
		type quartercoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, quartercoin_var_lib_t, quartercoin_var_lib_t)
')

########################################
## <summary>
##	Manage quartercoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`quartercoin_manage_lib_dirs',`
	gen_require(`
		type quartercoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, quartercoin_var_lib_t, quartercoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a quartercoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`quartercoin_admin',`
	gen_require(`
		type quartercoin_t;
		type quartercoin_initrc_exec_t;
		type quartercoin_var_lib_t;
	')

	allow $1 quartercoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, quartercoin_t)

	quartercoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 quartercoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, quartercoin_var_lib_t)

')

